/events.db
/db.sqlite3
/config.yml
/.project
/.pydevproject
/venv
*.pyc
/openseth/db.sqlite3
/bot/config.yml
/events/migations/
/.idea
/%SystemDrive%/
/openseth/*/migrations/*.py
!/openseth/*/migrations/__init__.py
